/*
AMPLIFY Central API v0.347

APIs to manage AMPLIFY Central configuration resources.

API version: 0.347.0
Contact: support@axway.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package amplify

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// DefinitionsAPIService DefinitionsAPI service
type DefinitionsAPIService service

type ApiCountDefinitionsV1alpha1AccessControlListRequest struct {
	ctx context.Context
	ApiService *DefinitionsAPIService
	xAxwayTenantId *string
	query *string
	count *string
}

// The platform Organization ID. Not required when using Service Accounts.
func (r ApiCountDefinitionsV1alpha1AccessControlListRequest) XAxwayTenantId(xAxwayTenantId string) ApiCountDefinitionsV1alpha1AccessControlListRequest {
	r.xAxwayTenantId = &xAxwayTenantId
	return r
}

// Query string for filtering entity. Expressed in FIQL/RSQL language. Supported filters on resources: * name * title * tags * attributes * metadata.id * metadata.state * metadata.references.id * metadata.references.kind * metadata.references.name * metadata.deletedReferences.id * metadata.deletedReferences.kind * metadata.deletedReferences.name * metadata.resourceVersion * metadata.audit.createTimestamp - Date filter must be provided as epoch time or yyyy-MM-dd\\&#39;T\\&#39;HH:mm:ss.SSSZZZZ * metadata.audit.modifyTimestamp - Date filter must be provided as epoch time or yyyy-MM-dd\\&#39;T\\&#39;HH:mm:ss.SSSZZZZ  Documentation link to help with multiple values for query: https://github.com/jirutka/rsql-parser
func (r ApiCountDefinitionsV1alpha1AccessControlListRequest) Query(query string) ApiCountDefinitionsV1alpha1AccessControlListRequest {
	r.query = &query
	return r
}

// Set to \&quot;all\&quot; to fetch a count of all resources, including resources you do not have access to. Set to \&quot;accessible\&quot; to fetch a count resources you have access to, which is the default if not specified. Unknown values will return a bad request (400) status code.
func (r ApiCountDefinitionsV1alpha1AccessControlListRequest) Count(count string) ApiCountDefinitionsV1alpha1AccessControlListRequest {
	r.count = &count
	return r
}

func (r ApiCountDefinitionsV1alpha1AccessControlListRequest) Execute() (*http.Response, error) {
	return r.ApiService.CountDefinitionsV1alpha1AccessControlListExecute(r)
}

/*
CountDefinitionsV1alpha1AccessControlList Retrieves a count of AccessControlList for version v1alpha1 from group definitions

Retrieves a count of AccessControlList for version v1alpha1 from group definitions

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiCountDefinitionsV1alpha1AccessControlListRequest
*/
func (a *DefinitionsAPIService) CountDefinitionsV1alpha1AccessControlList(ctx context.Context) ApiCountDefinitionsV1alpha1AccessControlListRequest {
	return ApiCountDefinitionsV1alpha1AccessControlListRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
func (a *DefinitionsAPIService) CountDefinitionsV1alpha1AccessControlListExecute(r ApiCountDefinitionsV1alpha1AccessControlListRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodHead
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DefinitionsAPIService.CountDefinitionsV1alpha1AccessControlList")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/definitions/v1alpha1/accesscontrollists"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.query != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "query", r.query, "")
	}
	if r.count != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "count", r.count, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xAxwayTenantId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Axway-Tenant-Id", r.xAxwayTenantId, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiCountDefinitionsV1alpha1CommandLineInterfaceRequest struct {
	ctx context.Context
	ApiService *DefinitionsAPIService
	xAxwayTenantId *string
	query *string
	count *string
}

// The platform Organization ID. Not required when using Service Accounts.
func (r ApiCountDefinitionsV1alpha1CommandLineInterfaceRequest) XAxwayTenantId(xAxwayTenantId string) ApiCountDefinitionsV1alpha1CommandLineInterfaceRequest {
	r.xAxwayTenantId = &xAxwayTenantId
	return r
}

// Query string for filtering entity. Expressed in FIQL/RSQL language. Supported filters on resources: * name * title * tags * attributes * metadata.id * metadata.state * metadata.references.id * metadata.references.kind * metadata.references.name * metadata.deletedReferences.id * metadata.deletedReferences.kind * metadata.deletedReferences.name * metadata.resourceVersion * metadata.audit.createTimestamp - Date filter must be provided as epoch time or yyyy-MM-dd\\&#39;T\\&#39;HH:mm:ss.SSSZZZZ * metadata.audit.modifyTimestamp - Date filter must be provided as epoch time or yyyy-MM-dd\\&#39;T\\&#39;HH:mm:ss.SSSZZZZ  Documentation link to help with multiple values for query: https://github.com/jirutka/rsql-parser
func (r ApiCountDefinitionsV1alpha1CommandLineInterfaceRequest) Query(query string) ApiCountDefinitionsV1alpha1CommandLineInterfaceRequest {
	r.query = &query
	return r
}

// Set to \&quot;all\&quot; to fetch a count of all resources, including resources you do not have access to. Set to \&quot;accessible\&quot; to fetch a count resources you have access to, which is the default if not specified. Unknown values will return a bad request (400) status code.
func (r ApiCountDefinitionsV1alpha1CommandLineInterfaceRequest) Count(count string) ApiCountDefinitionsV1alpha1CommandLineInterfaceRequest {
	r.count = &count
	return r
}

func (r ApiCountDefinitionsV1alpha1CommandLineInterfaceRequest) Execute() (*http.Response, error) {
	return r.ApiService.CountDefinitionsV1alpha1CommandLineInterfaceExecute(r)
}

/*
CountDefinitionsV1alpha1CommandLineInterface Retrieves a count of CommandLineInterface for version v1alpha1 from group definitions

Retrieves a count of CommandLineInterface for version v1alpha1 from group definitions

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiCountDefinitionsV1alpha1CommandLineInterfaceRequest
*/
func (a *DefinitionsAPIService) CountDefinitionsV1alpha1CommandLineInterface(ctx context.Context) ApiCountDefinitionsV1alpha1CommandLineInterfaceRequest {
	return ApiCountDefinitionsV1alpha1CommandLineInterfaceRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
func (a *DefinitionsAPIService) CountDefinitionsV1alpha1CommandLineInterfaceExecute(r ApiCountDefinitionsV1alpha1CommandLineInterfaceRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodHead
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DefinitionsAPIService.CountDefinitionsV1alpha1CommandLineInterface")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/definitions/v1alpha1/commandlines"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.query != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "query", r.query, "")
	}
	if r.count != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "count", r.count, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xAxwayTenantId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Axway-Tenant-Id", r.xAxwayTenantId, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiCountDefinitionsV1alpha1ResourceDefinitionRequest struct {
	ctx context.Context
	ApiService *DefinitionsAPIService
	xAxwayTenantId *string
	query *string
	count *string
}

// The platform Organization ID. Not required when using Service Accounts.
func (r ApiCountDefinitionsV1alpha1ResourceDefinitionRequest) XAxwayTenantId(xAxwayTenantId string) ApiCountDefinitionsV1alpha1ResourceDefinitionRequest {
	r.xAxwayTenantId = &xAxwayTenantId
	return r
}

// Query string for filtering entity. Expressed in FIQL/RSQL language. Supported filters on resources: * name * title * tags * attributes * metadata.id * metadata.state * metadata.references.id * metadata.references.kind * metadata.references.name * metadata.deletedReferences.id * metadata.deletedReferences.kind * metadata.deletedReferences.name * metadata.resourceVersion * metadata.audit.createTimestamp - Date filter must be provided as epoch time or yyyy-MM-dd\\&#39;T\\&#39;HH:mm:ss.SSSZZZZ * metadata.audit.modifyTimestamp - Date filter must be provided as epoch time or yyyy-MM-dd\\&#39;T\\&#39;HH:mm:ss.SSSZZZZ  Documentation link to help with multiple values for query: https://github.com/jirutka/rsql-parser
func (r ApiCountDefinitionsV1alpha1ResourceDefinitionRequest) Query(query string) ApiCountDefinitionsV1alpha1ResourceDefinitionRequest {
	r.query = &query
	return r
}

// Set to \&quot;all\&quot; to fetch a count of all resources, including resources you do not have access to. Set to \&quot;accessible\&quot; to fetch a count resources you have access to, which is the default if not specified. Unknown values will return a bad request (400) status code.
func (r ApiCountDefinitionsV1alpha1ResourceDefinitionRequest) Count(count string) ApiCountDefinitionsV1alpha1ResourceDefinitionRequest {
	r.count = &count
	return r
}

func (r ApiCountDefinitionsV1alpha1ResourceDefinitionRequest) Execute() (*http.Response, error) {
	return r.ApiService.CountDefinitionsV1alpha1ResourceDefinitionExecute(r)
}

/*
CountDefinitionsV1alpha1ResourceDefinition Retrieves a count of ResourceDefinition for version v1alpha1 from group definitions

Retrieves a count of ResourceDefinition for version v1alpha1 from group definitions

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiCountDefinitionsV1alpha1ResourceDefinitionRequest
*/
func (a *DefinitionsAPIService) CountDefinitionsV1alpha1ResourceDefinition(ctx context.Context) ApiCountDefinitionsV1alpha1ResourceDefinitionRequest {
	return ApiCountDefinitionsV1alpha1ResourceDefinitionRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
func (a *DefinitionsAPIService) CountDefinitionsV1alpha1ResourceDefinitionExecute(r ApiCountDefinitionsV1alpha1ResourceDefinitionRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodHead
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DefinitionsAPIService.CountDefinitionsV1alpha1ResourceDefinition")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/definitions/v1alpha1/resources"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.query != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "query", r.query, "")
	}
	if r.count != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "count", r.count, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xAxwayTenantId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Axway-Tenant-Id", r.xAxwayTenantId, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiCountDefinitionsV1alpha1ResourceDefinitionVersionRequest struct {
	ctx context.Context
	ApiService *DefinitionsAPIService
	xAxwayTenantId *string
	query *string
	count *string
}

// The platform Organization ID. Not required when using Service Accounts.
func (r ApiCountDefinitionsV1alpha1ResourceDefinitionVersionRequest) XAxwayTenantId(xAxwayTenantId string) ApiCountDefinitionsV1alpha1ResourceDefinitionVersionRequest {
	r.xAxwayTenantId = &xAxwayTenantId
	return r
}

// Query string for filtering entity. Expressed in FIQL/RSQL language. Supported filters on resources: * name * title * tags * attributes * metadata.id * metadata.state * metadata.references.id * metadata.references.kind * metadata.references.name * metadata.deletedReferences.id * metadata.deletedReferences.kind * metadata.deletedReferences.name * metadata.resourceVersion * metadata.audit.createTimestamp - Date filter must be provided as epoch time or yyyy-MM-dd\\&#39;T\\&#39;HH:mm:ss.SSSZZZZ * metadata.audit.modifyTimestamp - Date filter must be provided as epoch time or yyyy-MM-dd\\&#39;T\\&#39;HH:mm:ss.SSSZZZZ  Documentation link to help with multiple values for query: https://github.com/jirutka/rsql-parser
func (r ApiCountDefinitionsV1alpha1ResourceDefinitionVersionRequest) Query(query string) ApiCountDefinitionsV1alpha1ResourceDefinitionVersionRequest {
	r.query = &query
	return r
}

// Set to \&quot;all\&quot; to fetch a count of all resources, including resources you do not have access to. Set to \&quot;accessible\&quot; to fetch a count resources you have access to, which is the default if not specified. Unknown values will return a bad request (400) status code.
func (r ApiCountDefinitionsV1alpha1ResourceDefinitionVersionRequest) Count(count string) ApiCountDefinitionsV1alpha1ResourceDefinitionVersionRequest {
	r.count = &count
	return r
}

func (r ApiCountDefinitionsV1alpha1ResourceDefinitionVersionRequest) Execute() (*http.Response, error) {
	return r.ApiService.CountDefinitionsV1alpha1ResourceDefinitionVersionExecute(r)
}

/*
CountDefinitionsV1alpha1ResourceDefinitionVersion Retrieves a count of ResourceDefinitionVersion for version v1alpha1 from group definitions

Retrieves a count of ResourceDefinitionVersion for version v1alpha1 from group definitions

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiCountDefinitionsV1alpha1ResourceDefinitionVersionRequest
*/
func (a *DefinitionsAPIService) CountDefinitionsV1alpha1ResourceDefinitionVersion(ctx context.Context) ApiCountDefinitionsV1alpha1ResourceDefinitionVersionRequest {
	return ApiCountDefinitionsV1alpha1ResourceDefinitionVersionRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
func (a *DefinitionsAPIService) CountDefinitionsV1alpha1ResourceDefinitionVersionExecute(r ApiCountDefinitionsV1alpha1ResourceDefinitionVersionRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodHead
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DefinitionsAPIService.CountDefinitionsV1alpha1ResourceDefinitionVersion")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/definitions/v1alpha1/resourceversions"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.query != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "query", r.query, "")
	}
	if r.count != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "count", r.count, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xAxwayTenantId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Axway-Tenant-Id", r.xAxwayTenantId, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiCountDefinitionsV1alpha1ResourceGroupRequest struct {
	ctx context.Context
	ApiService *DefinitionsAPIService
	xAxwayTenantId *string
	query *string
	count *string
}

// The platform Organization ID. Not required when using Service Accounts.
func (r ApiCountDefinitionsV1alpha1ResourceGroupRequest) XAxwayTenantId(xAxwayTenantId string) ApiCountDefinitionsV1alpha1ResourceGroupRequest {
	r.xAxwayTenantId = &xAxwayTenantId
	return r
}

// Query string for filtering entity. Expressed in FIQL/RSQL language. Supported filters on resources: * name * title * tags * attributes * metadata.id * metadata.state * metadata.references.id * metadata.references.kind * metadata.references.name * metadata.deletedReferences.id * metadata.deletedReferences.kind * metadata.deletedReferences.name * metadata.resourceVersion * metadata.audit.createTimestamp - Date filter must be provided as epoch time or yyyy-MM-dd\\&#39;T\\&#39;HH:mm:ss.SSSZZZZ * metadata.audit.modifyTimestamp - Date filter must be provided as epoch time or yyyy-MM-dd\\&#39;T\\&#39;HH:mm:ss.SSSZZZZ  Documentation link to help with multiple values for query: https://github.com/jirutka/rsql-parser
func (r ApiCountDefinitionsV1alpha1ResourceGroupRequest) Query(query string) ApiCountDefinitionsV1alpha1ResourceGroupRequest {
	r.query = &query
	return r
}

// Set to \&quot;all\&quot; to fetch a count of all resources, including resources you do not have access to. Set to \&quot;accessible\&quot; to fetch a count resources you have access to, which is the default if not specified. Unknown values will return a bad request (400) status code.
func (r ApiCountDefinitionsV1alpha1ResourceGroupRequest) Count(count string) ApiCountDefinitionsV1alpha1ResourceGroupRequest {
	r.count = &count
	return r
}

func (r ApiCountDefinitionsV1alpha1ResourceGroupRequest) Execute() (*http.Response, error) {
	return r.ApiService.CountDefinitionsV1alpha1ResourceGroupExecute(r)
}

/*
CountDefinitionsV1alpha1ResourceGroup Retrieves a count of ResourceGroup for version v1alpha1 from group definitions

Retrieves a count of ResourceGroup for version v1alpha1 from group definitions

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiCountDefinitionsV1alpha1ResourceGroupRequest
*/
func (a *DefinitionsAPIService) CountDefinitionsV1alpha1ResourceGroup(ctx context.Context) ApiCountDefinitionsV1alpha1ResourceGroupRequest {
	return ApiCountDefinitionsV1alpha1ResourceGroupRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
func (a *DefinitionsAPIService) CountDefinitionsV1alpha1ResourceGroupExecute(r ApiCountDefinitionsV1alpha1ResourceGroupRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodHead
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DefinitionsAPIService.CountDefinitionsV1alpha1ResourceGroup")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/definitions/v1alpha1/groups"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.query != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "query", r.query, "")
	}
	if r.count != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "count", r.count, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xAxwayTenantId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Axway-Tenant-Id", r.xAxwayTenantId, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiCountDefinitionsV1alpha1ResourceGroupAccessControlListRequest struct {
	ctx context.Context
	ApiService *DefinitionsAPIService
	groupName string
	xAxwayTenantId *string
	query *string
	count *string
}

// The platform Organization ID. Not required when using Service Accounts.
func (r ApiCountDefinitionsV1alpha1ResourceGroupAccessControlListRequest) XAxwayTenantId(xAxwayTenantId string) ApiCountDefinitionsV1alpha1ResourceGroupAccessControlListRequest {
	r.xAxwayTenantId = &xAxwayTenantId
	return r
}

// Query string for filtering entity. Expressed in FIQL/RSQL language. Supported filters on resources: * name * title * tags * attributes * metadata.id * metadata.state * metadata.references.id * metadata.references.kind * metadata.references.name * metadata.deletedReferences.id * metadata.deletedReferences.kind * metadata.deletedReferences.name * metadata.resourceVersion * metadata.audit.createTimestamp - Date filter must be provided as epoch time or yyyy-MM-dd\\&#39;T\\&#39;HH:mm:ss.SSSZZZZ * metadata.audit.modifyTimestamp - Date filter must be provided as epoch time or yyyy-MM-dd\\&#39;T\\&#39;HH:mm:ss.SSSZZZZ  Documentation link to help with multiple values for query: https://github.com/jirutka/rsql-parser
func (r ApiCountDefinitionsV1alpha1ResourceGroupAccessControlListRequest) Query(query string) ApiCountDefinitionsV1alpha1ResourceGroupAccessControlListRequest {
	r.query = &query
	return r
}

// Set to \&quot;all\&quot; to fetch a count of all resources, including resources you do not have access to. Set to \&quot;accessible\&quot; to fetch a count resources you have access to, which is the default if not specified. Unknown values will return a bad request (400) status code.
func (r ApiCountDefinitionsV1alpha1ResourceGroupAccessControlListRequest) Count(count string) ApiCountDefinitionsV1alpha1ResourceGroupAccessControlListRequest {
	r.count = &count
	return r
}

func (r ApiCountDefinitionsV1alpha1ResourceGroupAccessControlListRequest) Execute() (*http.Response, error) {
	return r.ApiService.CountDefinitionsV1alpha1ResourceGroupAccessControlListExecute(r)
}

/*
CountDefinitionsV1alpha1ResourceGroupAccessControlList Retrieves a count of AccessControlList for version v1alpha1 from group definitions in scope ResourceGroup

Retrieves a count of AccessControlList for version v1alpha1 from group definitions in scope ResourceGroup

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param groupName Name of the ResourceGroup
 @return ApiCountDefinitionsV1alpha1ResourceGroupAccessControlListRequest
*/
func (a *DefinitionsAPIService) CountDefinitionsV1alpha1ResourceGroupAccessControlList(ctx context.Context, groupName string) ApiCountDefinitionsV1alpha1ResourceGroupAccessControlListRequest {
	return ApiCountDefinitionsV1alpha1ResourceGroupAccessControlListRequest{
		ApiService: a,
		ctx: ctx,
		groupName: groupName,
	}
}

// Execute executes the request
func (a *DefinitionsAPIService) CountDefinitionsV1alpha1ResourceGroupAccessControlListExecute(r ApiCountDefinitionsV1alpha1ResourceGroupAccessControlListRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodHead
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DefinitionsAPIService.CountDefinitionsV1alpha1ResourceGroupAccessControlList")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/definitions/v1alpha1/groups/{groupName}/accesscontrollists"
	localVarPath = strings.Replace(localVarPath, "{"+"groupName"+"}", url.PathEscape(parameterValueToString(r.groupName, "groupName")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.query != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "query", r.query, "")
	}
	if r.count != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "count", r.count, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xAxwayTenantId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Axway-Tenant-Id", r.xAxwayTenantId, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiCountDefinitionsV1alpha1ResourceGroupCommandLineInterfaceRequest struct {
	ctx context.Context
	ApiService *DefinitionsAPIService
	groupName string
	xAxwayTenantId *string
	query *string
	count *string
}

// The platform Organization ID. Not required when using Service Accounts.
func (r ApiCountDefinitionsV1alpha1ResourceGroupCommandLineInterfaceRequest) XAxwayTenantId(xAxwayTenantId string) ApiCountDefinitionsV1alpha1ResourceGroupCommandLineInterfaceRequest {
	r.xAxwayTenantId = &xAxwayTenantId
	return r
}

// Query string for filtering entity. Expressed in FIQL/RSQL language. Supported filters on resources: * name * title * tags * attributes * metadata.id * metadata.state * metadata.references.id * metadata.references.kind * metadata.references.name * metadata.deletedReferences.id * metadata.deletedReferences.kind * metadata.deletedReferences.name * metadata.resourceVersion * metadata.audit.createTimestamp - Date filter must be provided as epoch time or yyyy-MM-dd\\&#39;T\\&#39;HH:mm:ss.SSSZZZZ * metadata.audit.modifyTimestamp - Date filter must be provided as epoch time or yyyy-MM-dd\\&#39;T\\&#39;HH:mm:ss.SSSZZZZ  Documentation link to help with multiple values for query: https://github.com/jirutka/rsql-parser
func (r ApiCountDefinitionsV1alpha1ResourceGroupCommandLineInterfaceRequest) Query(query string) ApiCountDefinitionsV1alpha1ResourceGroupCommandLineInterfaceRequest {
	r.query = &query
	return r
}

// Set to \&quot;all\&quot; to fetch a count of all resources, including resources you do not have access to. Set to \&quot;accessible\&quot; to fetch a count resources you have access to, which is the default if not specified. Unknown values will return a bad request (400) status code.
func (r ApiCountDefinitionsV1alpha1ResourceGroupCommandLineInterfaceRequest) Count(count string) ApiCountDefinitionsV1alpha1ResourceGroupCommandLineInterfaceRequest {
	r.count = &count
	return r
}

func (r ApiCountDefinitionsV1alpha1ResourceGroupCommandLineInterfaceRequest) Execute() (*http.Response, error) {
	return r.ApiService.CountDefinitionsV1alpha1ResourceGroupCommandLineInterfaceExecute(r)
}

/*
CountDefinitionsV1alpha1ResourceGroupCommandLineInterface Retrieves a count of CommandLineInterface for version v1alpha1 from group definitions in scope ResourceGroup

Retrieves a count of CommandLineInterface for version v1alpha1 from group definitions in scope ResourceGroup

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param groupName Name of the ResourceGroup
 @return ApiCountDefinitionsV1alpha1ResourceGroupCommandLineInterfaceRequest
*/
func (a *DefinitionsAPIService) CountDefinitionsV1alpha1ResourceGroupCommandLineInterface(ctx context.Context, groupName string) ApiCountDefinitionsV1alpha1ResourceGroupCommandLineInterfaceRequest {
	return ApiCountDefinitionsV1alpha1ResourceGroupCommandLineInterfaceRequest{
		ApiService: a,
		ctx: ctx,
		groupName: groupName,
	}
}

// Execute executes the request
func (a *DefinitionsAPIService) CountDefinitionsV1alpha1ResourceGroupCommandLineInterfaceExecute(r ApiCountDefinitionsV1alpha1ResourceGroupCommandLineInterfaceRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodHead
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DefinitionsAPIService.CountDefinitionsV1alpha1ResourceGroupCommandLineInterface")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/definitions/v1alpha1/groups/{groupName}/commandlines"
	localVarPath = strings.Replace(localVarPath, "{"+"groupName"+"}", url.PathEscape(parameterValueToString(r.groupName, "groupName")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.query != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "query", r.query, "")
	}
	if r.count != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "count", r.count, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xAxwayTenantId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Axway-Tenant-Id", r.xAxwayTenantId, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiCountDefinitionsV1alpha1ResourceGroupResourceDefinitionRequest struct {
	ctx context.Context
	ApiService *DefinitionsAPIService
	groupName string
	xAxwayTenantId *string
	query *string
	count *string
}

// The platform Organization ID. Not required when using Service Accounts.
func (r ApiCountDefinitionsV1alpha1ResourceGroupResourceDefinitionRequest) XAxwayTenantId(xAxwayTenantId string) ApiCountDefinitionsV1alpha1ResourceGroupResourceDefinitionRequest {
	r.xAxwayTenantId = &xAxwayTenantId
	return r
}

// Query string for filtering entity. Expressed in FIQL/RSQL language. Supported filters on resources: * name * title * tags * attributes * metadata.id * metadata.state * metadata.references.id * metadata.references.kind * metadata.references.name * metadata.deletedReferences.id * metadata.deletedReferences.kind * metadata.deletedReferences.name * metadata.resourceVersion * metadata.audit.createTimestamp - Date filter must be provided as epoch time or yyyy-MM-dd\\&#39;T\\&#39;HH:mm:ss.SSSZZZZ * metadata.audit.modifyTimestamp - Date filter must be provided as epoch time or yyyy-MM-dd\\&#39;T\\&#39;HH:mm:ss.SSSZZZZ  Documentation link to help with multiple values for query: https://github.com/jirutka/rsql-parser
func (r ApiCountDefinitionsV1alpha1ResourceGroupResourceDefinitionRequest) Query(query string) ApiCountDefinitionsV1alpha1ResourceGroupResourceDefinitionRequest {
	r.query = &query
	return r
}

// Set to \&quot;all\&quot; to fetch a count of all resources, including resources you do not have access to. Set to \&quot;accessible\&quot; to fetch a count resources you have access to, which is the default if not specified. Unknown values will return a bad request (400) status code.
func (r ApiCountDefinitionsV1alpha1ResourceGroupResourceDefinitionRequest) Count(count string) ApiCountDefinitionsV1alpha1ResourceGroupResourceDefinitionRequest {
	r.count = &count
	return r
}

func (r ApiCountDefinitionsV1alpha1ResourceGroupResourceDefinitionRequest) Execute() (*http.Response, error) {
	return r.ApiService.CountDefinitionsV1alpha1ResourceGroupResourceDefinitionExecute(r)
}

/*
CountDefinitionsV1alpha1ResourceGroupResourceDefinition Retrieves a count of ResourceDefinition for version v1alpha1 from group definitions in scope ResourceGroup

Retrieves a count of ResourceDefinition for version v1alpha1 from group definitions in scope ResourceGroup

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param groupName Name of the ResourceGroup
 @return ApiCountDefinitionsV1alpha1ResourceGroupResourceDefinitionRequest
*/
func (a *DefinitionsAPIService) CountDefinitionsV1alpha1ResourceGroupResourceDefinition(ctx context.Context, groupName string) ApiCountDefinitionsV1alpha1ResourceGroupResourceDefinitionRequest {
	return ApiCountDefinitionsV1alpha1ResourceGroupResourceDefinitionRequest{
		ApiService: a,
		ctx: ctx,
		groupName: groupName,
	}
}

// Execute executes the request
func (a *DefinitionsAPIService) CountDefinitionsV1alpha1ResourceGroupResourceDefinitionExecute(r ApiCountDefinitionsV1alpha1ResourceGroupResourceDefinitionRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodHead
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DefinitionsAPIService.CountDefinitionsV1alpha1ResourceGroupResourceDefinition")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/definitions/v1alpha1/groups/{groupName}/resources"
	localVarPath = strings.Replace(localVarPath, "{"+"groupName"+"}", url.PathEscape(parameterValueToString(r.groupName, "groupName")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.query != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "query", r.query, "")
	}
	if r.count != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "count", r.count, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xAxwayTenantId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Axway-Tenant-Id", r.xAxwayTenantId, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiCountDefinitionsV1alpha1ResourceGroupResourceDefinitionVersionRequest struct {
	ctx context.Context
	ApiService *DefinitionsAPIService
	groupName string
	xAxwayTenantId *string
	query *string
	count *string
}

// The platform Organization ID. Not required when using Service Accounts.
func (r ApiCountDefinitionsV1alpha1ResourceGroupResourceDefinitionVersionRequest) XAxwayTenantId(xAxwayTenantId string) ApiCountDefinitionsV1alpha1ResourceGroupResourceDefinitionVersionRequest {
	r.xAxwayTenantId = &xAxwayTenantId
	return r
}

// Query string for filtering entity. Expressed in FIQL/RSQL language. Supported filters on resources: * name * title * tags * attributes * metadata.id * metadata.state * metadata.references.id * metadata.references.kind * metadata.references.name * metadata.deletedReferences.id * metadata.deletedReferences.kind * metadata.deletedReferences.name * metadata.resourceVersion * metadata.audit.createTimestamp - Date filter must be provided as epoch time or yyyy-MM-dd\\&#39;T\\&#39;HH:mm:ss.SSSZZZZ * metadata.audit.modifyTimestamp - Date filter must be provided as epoch time or yyyy-MM-dd\\&#39;T\\&#39;HH:mm:ss.SSSZZZZ  Documentation link to help with multiple values for query: https://github.com/jirutka/rsql-parser
func (r ApiCountDefinitionsV1alpha1ResourceGroupResourceDefinitionVersionRequest) Query(query string) ApiCountDefinitionsV1alpha1ResourceGroupResourceDefinitionVersionRequest {
	r.query = &query
	return r
}

// Set to \&quot;all\&quot; to fetch a count of all resources, including resources you do not have access to. Set to \&quot;accessible\&quot; to fetch a count resources you have access to, which is the default if not specified. Unknown values will return a bad request (400) status code.
func (r ApiCountDefinitionsV1alpha1ResourceGroupResourceDefinitionVersionRequest) Count(count string) ApiCountDefinitionsV1alpha1ResourceGroupResourceDefinitionVersionRequest {
	r.count = &count
	return r
}

func (r ApiCountDefinitionsV1alpha1ResourceGroupResourceDefinitionVersionRequest) Execute() (*http.Response, error) {
	return r.ApiService.CountDefinitionsV1alpha1ResourceGroupResourceDefinitionVersionExecute(r)
}

/*
CountDefinitionsV1alpha1ResourceGroupResourceDefinitionVersion Retrieves a count of ResourceDefinitionVersion for version v1alpha1 from group definitions in scope ResourceGroup

Retrieves a count of ResourceDefinitionVersion for version v1alpha1 from group definitions in scope ResourceGroup

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param groupName Name of the ResourceGroup
 @return ApiCountDefinitionsV1alpha1ResourceGroupResourceDefinitionVersionRequest
*/
func (a *DefinitionsAPIService) CountDefinitionsV1alpha1ResourceGroupResourceDefinitionVersion(ctx context.Context, groupName string) ApiCountDefinitionsV1alpha1ResourceGroupResourceDefinitionVersionRequest {
	return ApiCountDefinitionsV1alpha1ResourceGroupResourceDefinitionVersionRequest{
		ApiService: a,
		ctx: ctx,
		groupName: groupName,
	}
}

// Execute executes the request
func (a *DefinitionsAPIService) CountDefinitionsV1alpha1ResourceGroupResourceDefinitionVersionExecute(r ApiCountDefinitionsV1alpha1ResourceGroupResourceDefinitionVersionRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodHead
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DefinitionsAPIService.CountDefinitionsV1alpha1ResourceGroupResourceDefinitionVersion")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/definitions/v1alpha1/groups/{groupName}/resourceversions"
	localVarPath = strings.Replace(localVarPath, "{"+"groupName"+"}", url.PathEscape(parameterValueToString(r.groupName, "groupName")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.query != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "query", r.query, "")
	}
	if r.count != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "count", r.count, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xAxwayTenantId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Axway-Tenant-Id", r.xAxwayTenantId, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiCreateDefinitionsV1alpha1ResourceGroupRequest struct {
	ctx context.Context
	ApiService *DefinitionsAPIService
	xAxwayTenantId *string
	fields *string
	definitionsV1alpha1ResourceGroup *DefinitionsV1alpha1ResourceGroup
}

// The platform Organization ID. Not required when using Service Accounts.
func (r ApiCreateDefinitionsV1alpha1ResourceGroupRequest) XAxwayTenantId(xAxwayTenantId string) ApiCreateDefinitionsV1alpha1ResourceGroupRequest {
	r.xAxwayTenantId = &xAxwayTenantId
	return r
}

// Query string for restricting the response fields from the definitions.v1alpha1.ResourceGroup resource. Multiple values can be specified separated by comma. Supported values: group, apiVersion, kind, name, title, metadata, attributes, tags, spec, {extension}, languages, languages-{code}. Unknown values will be ignored.
func (r ApiCreateDefinitionsV1alpha1ResourceGroupRequest) Fields(fields string) ApiCreateDefinitionsV1alpha1ResourceGroupRequest {
	r.fields = &fields
	return r
}

func (r ApiCreateDefinitionsV1alpha1ResourceGroupRequest) DefinitionsV1alpha1ResourceGroup(definitionsV1alpha1ResourceGroup DefinitionsV1alpha1ResourceGroup) ApiCreateDefinitionsV1alpha1ResourceGroupRequest {
	r.definitionsV1alpha1ResourceGroup = &definitionsV1alpha1ResourceGroup
	return r
}

func (r ApiCreateDefinitionsV1alpha1ResourceGroupRequest) Execute() (*DefinitionsV1alpha1ResourceGroup, *http.Response, error) {
	return r.ApiService.CreateDefinitionsV1alpha1ResourceGroupExecute(r)
}

/*
CreateDefinitionsV1alpha1ResourceGroup Create ResourceGroup for version v1alpha1 from group definitions

Create ResourceGroup for version v1alpha1 from group definitions

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiCreateDefinitionsV1alpha1ResourceGroupRequest
*/
func (a *DefinitionsAPIService) CreateDefinitionsV1alpha1ResourceGroup(ctx context.Context) ApiCreateDefinitionsV1alpha1ResourceGroupRequest {
	return ApiCreateDefinitionsV1alpha1ResourceGroupRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return DefinitionsV1alpha1ResourceGroup
func (a *DefinitionsAPIService) CreateDefinitionsV1alpha1ResourceGroupExecute(r ApiCreateDefinitionsV1alpha1ResourceGroupRequest) (*DefinitionsV1alpha1ResourceGroup, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *DefinitionsV1alpha1ResourceGroup
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DefinitionsAPIService.CreateDefinitionsV1alpha1ResourceGroup")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/definitions/v1alpha1/groups"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.fields != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fields", r.fields, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xAxwayTenantId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Axway-Tenant-Id", r.xAxwayTenantId, "")
	}
	// body params
	localVarPostBody = r.definitionsV1alpha1ResourceGroup
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ApiV1ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v ApiV1ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v ApiV1ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ApiV1ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 409 {
			var v ApiV1ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ApiV1ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCreateDefinitionsV1alpha1ResourceGroupAccessControlListRequest struct {
	ctx context.Context
	ApiService *DefinitionsAPIService
	groupName string
	xAxwayTenantId *string
	fields *string
	definitionsV1alpha1AccessControlList *DefinitionsV1alpha1AccessControlList
}

// The platform Organization ID. Not required when using Service Accounts.
func (r ApiCreateDefinitionsV1alpha1ResourceGroupAccessControlListRequest) XAxwayTenantId(xAxwayTenantId string) ApiCreateDefinitionsV1alpha1ResourceGroupAccessControlListRequest {
	r.xAxwayTenantId = &xAxwayTenantId
	return r
}

// Query string for restricting the response fields from the definitions.v1alpha1.AccessControlList resource. Multiple values can be specified separated by comma. Supported values: group, apiVersion, kind, name, title, metadata, attributes, tags, spec, {extension}, languages, languages-{code}. Unknown values will be ignored.
func (r ApiCreateDefinitionsV1alpha1ResourceGroupAccessControlListRequest) Fields(fields string) ApiCreateDefinitionsV1alpha1ResourceGroupAccessControlListRequest {
	r.fields = &fields
	return r
}

func (r ApiCreateDefinitionsV1alpha1ResourceGroupAccessControlListRequest) DefinitionsV1alpha1AccessControlList(definitionsV1alpha1AccessControlList DefinitionsV1alpha1AccessControlList) ApiCreateDefinitionsV1alpha1ResourceGroupAccessControlListRequest {
	r.definitionsV1alpha1AccessControlList = &definitionsV1alpha1AccessControlList
	return r
}

func (r ApiCreateDefinitionsV1alpha1ResourceGroupAccessControlListRequest) Execute() (*DefinitionsV1alpha1AccessControlList, *http.Response, error) {
	return r.ApiService.CreateDefinitionsV1alpha1ResourceGroupAccessControlListExecute(r)
}

/*
CreateDefinitionsV1alpha1ResourceGroupAccessControlList Create AccessControlList for version v1alpha1 from group definitions in scope ResourceGroup

Create AccessControlList for version v1alpha1 from group definitions in scope ResourceGroup

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param groupName Name of the ResourceGroup
 @return ApiCreateDefinitionsV1alpha1ResourceGroupAccessControlListRequest
*/
func (a *DefinitionsAPIService) CreateDefinitionsV1alpha1ResourceGroupAccessControlList(ctx context.Context, groupName string) ApiCreateDefinitionsV1alpha1ResourceGroupAccessControlListRequest {
	return ApiCreateDefinitionsV1alpha1ResourceGroupAccessControlListRequest{
		ApiService: a,
		ctx: ctx,
		groupName: groupName,
	}
}

// Execute executes the request
//  @return DefinitionsV1alpha1AccessControlList
func (a *DefinitionsAPIService) CreateDefinitionsV1alpha1ResourceGroupAccessControlListExecute(r ApiCreateDefinitionsV1alpha1ResourceGroupAccessControlListRequest) (*DefinitionsV1alpha1AccessControlList, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *DefinitionsV1alpha1AccessControlList
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DefinitionsAPIService.CreateDefinitionsV1alpha1ResourceGroupAccessControlList")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/definitions/v1alpha1/groups/{groupName}/accesscontrollists"
	localVarPath = strings.Replace(localVarPath, "{"+"groupName"+"}", url.PathEscape(parameterValueToString(r.groupName, "groupName")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.fields != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fields", r.fields, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xAxwayTenantId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Axway-Tenant-Id", r.xAxwayTenantId, "")
	}
	// body params
	localVarPostBody = r.definitionsV1alpha1AccessControlList
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ApiV1ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v ApiV1ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v ApiV1ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ApiV1ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 409 {
			var v ApiV1ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ApiV1ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCreateDefinitionsV1alpha1ResourceGroupCommandLineInterfaceRequest struct {
	ctx context.Context
	ApiService *DefinitionsAPIService
	groupName string
	xAxwayTenantId *string
	fields *string
	definitionsV1alpha1CommandLineInterface *DefinitionsV1alpha1CommandLineInterface
}

// The platform Organization ID. Not required when using Service Accounts.
func (r ApiCreateDefinitionsV1alpha1ResourceGroupCommandLineInterfaceRequest) XAxwayTenantId(xAxwayTenantId string) ApiCreateDefinitionsV1alpha1ResourceGroupCommandLineInterfaceRequest {
	r.xAxwayTenantId = &xAxwayTenantId
	return r
}

// Query string for restricting the response fields from the definitions.v1alpha1.CommandLineInterface resource. Multiple values can be specified separated by comma. Supported values: group, apiVersion, kind, name, title, metadata, attributes, tags, spec, {extension}, languages, languages-{code}. Unknown values will be ignored.
func (r ApiCreateDefinitionsV1alpha1ResourceGroupCommandLineInterfaceRequest) Fields(fields string) ApiCreateDefinitionsV1alpha1ResourceGroupCommandLineInterfaceRequest {
	r.fields = &fields
	return r
}

func (r ApiCreateDefinitionsV1alpha1ResourceGroupCommandLineInterfaceRequest) DefinitionsV1alpha1CommandLineInterface(definitionsV1alpha1CommandLineInterface DefinitionsV1alpha1CommandLineInterface) ApiCreateDefinitionsV1alpha1ResourceGroupCommandLineInterfaceRequest {
	r.definitionsV1alpha1CommandLineInterface = &definitionsV1alpha1CommandLineInterface
	return r
}

func (r ApiCreateDefinitionsV1alpha1ResourceGroupCommandLineInterfaceRequest) Execute() (*DefinitionsV1alpha1CommandLineInterface, *http.Response, error) {
	return r.ApiService.CreateDefinitionsV1alpha1ResourceGroupCommandLineInterfaceExecute(r)
}

/*
CreateDefinitionsV1alpha1ResourceGroupCommandLineInterface Create CommandLineInterface for version v1alpha1 from group definitions in scope ResourceGroup

Create CommandLineInterface for version v1alpha1 from group definitions in scope ResourceGroup

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param groupName Name of the ResourceGroup
 @return ApiCreateDefinitionsV1alpha1ResourceGroupCommandLineInterfaceRequest
*/
func (a *DefinitionsAPIService) CreateDefinitionsV1alpha1ResourceGroupCommandLineInterface(ctx context.Context, groupName string) ApiCreateDefinitionsV1alpha1ResourceGroupCommandLineInterfaceRequest {
	return ApiCreateDefinitionsV1alpha1ResourceGroupCommandLineInterfaceRequest{
		ApiService: a,
		ctx: ctx,
		groupName: groupName,
	}
}

// Execute executes the request
//  @return DefinitionsV1alpha1CommandLineInterface
func (a *DefinitionsAPIService) CreateDefinitionsV1alpha1ResourceGroupCommandLineInterfaceExecute(r ApiCreateDefinitionsV1alpha1ResourceGroupCommandLineInterfaceRequest) (*DefinitionsV1alpha1CommandLineInterface, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *DefinitionsV1alpha1CommandLineInterface
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DefinitionsAPIService.CreateDefinitionsV1alpha1ResourceGroupCommandLineInterface")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/definitions/v1alpha1/groups/{groupName}/commandlines"
	localVarPath = strings.Replace(localVarPath, "{"+"groupName"+"}", url.PathEscape(parameterValueToString(r.groupName, "groupName")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.fields != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fields", r.fields, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xAxwayTenantId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Axway-Tenant-Id", r.xAxwayTenantId, "")
	}
	// body params
	localVarPostBody = r.definitionsV1alpha1CommandLineInterface
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ApiV1ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v ApiV1ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v ApiV1ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ApiV1ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 409 {
			var v ApiV1ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ApiV1ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCreateDefinitionsV1alpha1ResourceGroupResourceDefinitionRequest struct {
	ctx context.Context
	ApiService *DefinitionsAPIService
	groupName string
	xAxwayTenantId *string
	fields *string
	definitionsV1alpha1ResourceDefinition *DefinitionsV1alpha1ResourceDefinition
}

// The platform Organization ID. Not required when using Service Accounts.
func (r ApiCreateDefinitionsV1alpha1ResourceGroupResourceDefinitionRequest) XAxwayTenantId(xAxwayTenantId string) ApiCreateDefinitionsV1alpha1ResourceGroupResourceDefinitionRequest {
	r.xAxwayTenantId = &xAxwayTenantId
	return r
}

// Query string for restricting the response fields from the definitions.v1alpha1.ResourceDefinition resource. Multiple values can be specified separated by comma. Supported values: group, apiVersion, kind, name, title, metadata, attributes, tags, spec, {extension}, languages, languages-{code}. Unknown values will be ignored.
func (r ApiCreateDefinitionsV1alpha1ResourceGroupResourceDefinitionRequest) Fields(fields string) ApiCreateDefinitionsV1alpha1ResourceGroupResourceDefinitionRequest {
	r.fields = &fields
	return r
}

func (r ApiCreateDefinitionsV1alpha1ResourceGroupResourceDefinitionRequest) DefinitionsV1alpha1ResourceDefinition(definitionsV1alpha1ResourceDefinition DefinitionsV1alpha1ResourceDefinition) ApiCreateDefinitionsV1alpha1ResourceGroupResourceDefinitionRequest {
	r.definitionsV1alpha1ResourceDefinition = &definitionsV1alpha1ResourceDefinition
	return r
}

func (r ApiCreateDefinitionsV1alpha1ResourceGroupResourceDefinitionRequest) Execute() (*DefinitionsV1alpha1ResourceDefinition, *http.Response, error) {
	return r.ApiService.CreateDefinitionsV1alpha1ResourceGroupResourceDefinitionExecute(r)
}

/*
CreateDefinitionsV1alpha1ResourceGroupResourceDefinition Create ResourceDefinition for version v1alpha1 from group definitions in scope ResourceGroup

Create ResourceDefinition for version v1alpha1 from group definitions in scope ResourceGroup

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param groupName Name of the ResourceGroup
 @return ApiCreateDefinitionsV1alpha1ResourceGroupResourceDefinitionRequest
*/
func (a *DefinitionsAPIService) CreateDefinitionsV1alpha1ResourceGroupResourceDefinition(ctx context.Context, groupName string) ApiCreateDefinitionsV1alpha1ResourceGroupResourceDefinitionRequest {
	return ApiCreateDefinitionsV1alpha1ResourceGroupResourceDefinitionRequest{
		ApiService: a,
		ctx: ctx,
		groupName: groupName,
	}
}

// Execute executes the request
//  @return DefinitionsV1alpha1ResourceDefinition
func (a *DefinitionsAPIService) CreateDefinitionsV1alpha1ResourceGroupResourceDefinitionExecute(r ApiCreateDefinitionsV1alpha1ResourceGroupResourceDefinitionRequest) (*DefinitionsV1alpha1ResourceDefinition, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *DefinitionsV1alpha1ResourceDefinition
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DefinitionsAPIService.CreateDefinitionsV1alpha1ResourceGroupResourceDefinition")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/definitions/v1alpha1/groups/{groupName}/resources"
	localVarPath = strings.Replace(localVarPath, "{"+"groupName"+"}", url.PathEscape(parameterValueToString(r.groupName, "groupName")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.fields != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fields", r.fields, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xAxwayTenantId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Axway-Tenant-Id", r.xAxwayTenantId, "")
	}
	// body params
	localVarPostBody = r.definitionsV1alpha1ResourceDefinition
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ApiV1ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v ApiV1ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v ApiV1ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ApiV1ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 409 {
			var v ApiV1ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ApiV1ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCreateDefinitionsV1alpha1ResourceGroupResourceDefinitionVersionRequest struct {
	ctx context.Context
	ApiService *DefinitionsAPIService
	groupName string
	xAxwayTenantId *string
	fields *string
	definitionsV1alpha1ResourceDefinitionVersion *DefinitionsV1alpha1ResourceDefinitionVersion
}

// The platform Organization ID. Not required when using Service Accounts.
func (r ApiCreateDefinitionsV1alpha1ResourceGroupResourceDefinitionVersionRequest) XAxwayTenantId(xAxwayTenantId string) ApiCreateDefinitionsV1alpha1ResourceGroupResourceDefinitionVersionRequest {
	r.xAxwayTenantId = &xAxwayTenantId
	return r
}

// Query string for restricting the response fields from the definitions.v1alpha1.ResourceDefinitionVersion resource. Multiple values can be specified separated by comma. Supported values: group, apiVersion, kind, name, title, metadata, attributes, tags, spec, {extension}, languages, languages-{code}. Unknown values will be ignored.
func (r ApiCreateDefinitionsV1alpha1ResourceGroupResourceDefinitionVersionRequest) Fields(fields string) ApiCreateDefinitionsV1alpha1ResourceGroupResourceDefinitionVersionRequest {
	r.fields = &fields
	return r
}

func (r ApiCreateDefinitionsV1alpha1ResourceGroupResourceDefinitionVersionRequest) DefinitionsV1alpha1ResourceDefinitionVersion(definitionsV1alpha1ResourceDefinitionVersion DefinitionsV1alpha1ResourceDefinitionVersion) ApiCreateDefinitionsV1alpha1ResourceGroupResourceDefinitionVersionRequest {
	r.definitionsV1alpha1ResourceDefinitionVersion = &definitionsV1alpha1ResourceDefinitionVersion
	return r
}

func (r ApiCreateDefinitionsV1alpha1ResourceGroupResourceDefinitionVersionRequest) Execute() (*DefinitionsV1alpha1ResourceDefinitionVersion, *http.Response, error) {
	return r.ApiService.CreateDefinitionsV1alpha1ResourceGroupResourceDefinitionVersionExecute(r)
}

/*
CreateDefinitionsV1alpha1ResourceGroupResourceDefinitionVersion Create ResourceDefinitionVersion for version v1alpha1 from group definitions in scope ResourceGroup

Create ResourceDefinitionVersion for version v1alpha1 from group definitions in scope ResourceGroup

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param groupName Name of the ResourceGroup
 @return ApiCreateDefinitionsV1alpha1ResourceGroupResourceDefinitionVersionRequest
*/
func (a *DefinitionsAPIService) CreateDefinitionsV1alpha1ResourceGroupResourceDefinitionVersion(ctx context.Context, groupName string) ApiCreateDefinitionsV1alpha1ResourceGroupResourceDefinitionVersionRequest {
	return ApiCreateDefinitionsV1alpha1ResourceGroupResourceDefinitionVersionRequest{
		ApiService: a,
		ctx: ctx,
		groupName: groupName,
	}
}

// Execute executes the request
//  @return DefinitionsV1alpha1ResourceDefinitionVersion
func (a *DefinitionsAPIService) CreateDefinitionsV1alpha1ResourceGroupResourceDefinitionVersionExecute(r ApiCreateDefinitionsV1alpha1ResourceGroupResourceDefinitionVersionRequest) (*DefinitionsV1alpha1ResourceDefinitionVersion, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *DefinitionsV1alpha1ResourceDefinitionVersion
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DefinitionsAPIService.CreateDefinitionsV1alpha1ResourceGroupResourceDefinitionVersion")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/definitions/v1alpha1/groups/{groupName}/resourceversions"
	localVarPath = strings.Replace(localVarPath, "{"+"groupName"+"}", url.PathEscape(parameterValueToString(r.groupName, "groupName")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.fields != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fields", r.fields, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xAxwayTenantId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Axway-Tenant-Id", r.xAxwayTenantId, "")
	}
	// body params
	localVarPostBody = r.definitionsV1alpha1ResourceDefinitionVersion
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ApiV1ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v ApiV1ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v ApiV1ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ApiV1ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 409 {
			var v ApiV1ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ApiV1ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiListDefinitionsV1alpha1AccessControlListRequest struct {
	ctx context.Context
	ApiService *DefinitionsAPIService
	xAxwayTenantId *string
	page *int32
	pageSize *int32
	sort *string
	embed *string
	expand *string
	resourceLanguageCode *string
	query *string
	fields *string
}

// The platform Organization ID. Not required when using Service Accounts.
func (r ApiListDefinitionsV1alpha1AccessControlListRequest) XAxwayTenantId(xAxwayTenantId string) ApiListDefinitionsV1alpha1AccessControlListRequest {
	r.xAxwayTenantId = &xAxwayTenantId
	return r
}

// The offset starting page number in the result set to start returning results from, starts at 1.
func (r ApiListDefinitionsV1alpha1AccessControlListRequest) Page(page int32) ApiListDefinitionsV1alpha1AccessControlListRequest {
	r.page = &page
	return r
}

// The number of entities allowed in a page.
func (r ApiListDefinitionsV1alpha1AccessControlListRequest) PageSize(pageSize int32) ApiListDefinitionsV1alpha1AccessControlListRequest {
	r.pageSize = &pageSize
	return r
}

// The field to sort result sets by, in ASC or DESC order. Allowed fields for sorting:         name         title         metadata.audit.createTimestamp         metadata.audit.modifyTimestamp
func (r ApiListDefinitionsV1alpha1AccessControlListRequest) Sort(sort string) ApiListDefinitionsV1alpha1AccessControlListRequest {
	r.sort = &sort
	return r
}

// Defines parameters that can be embedded:   * metadata.references - includes the referenced resources in the response.   * metadata.accessRights - includes user&#39;s permissions on requested resource and its scope.   * metadata.referencedByResources - includes counts for the resources referencing the current resource.   * metadata.scopedResources - includes counts for the resources scoped to the current resource. 
func (r ApiListDefinitionsV1alpha1AccessControlListRequest) Embed(embed string) ApiListDefinitionsV1alpha1AccessControlListRequest {
	r.embed = &embed
	return r
}

// Defines parameters that can be expanded:   * languages - expands the languages in the response.   * languages-* - expands the additional languages (\&quot;en-us\&quot;, \&quot;pt-br\&quot;, \&quot;de-de\&quot;, \&quot;fr-fr\&quot;) 
func (r ApiListDefinitionsV1alpha1AccessControlListRequest) Expand(expand string) ApiListDefinitionsV1alpha1AccessControlListRequest {
	r.expand = &expand
	return r
}

// Defines in which language(\&quot;en-us\&quot;, \&quot;pt-br\&quot;, \&quot;de-de\&quot;, \&quot;fr-fr\&quot;) the resource is retrieved. If the requested language does not exist or a property in that language was not internationalized, the resource default language value will be returned. 
func (r ApiListDefinitionsV1alpha1AccessControlListRequest) ResourceLanguageCode(resourceLanguageCode string) ApiListDefinitionsV1alpha1AccessControlListRequest {
	r.resourceLanguageCode = &resourceLanguageCode
	return r
}

// Query string for filtering entity. Expressed in FIQL/RSQL language. Supported filters on resources: * name * title * tags * attributes * metadata.id * metadata.state * metadata.references.id * metadata.references.kind * metadata.references.name * metadata.deletedReferences.id * metadata.deletedReferences.kind * metadata.deletedReferences.name * metadata.resourceVersion * metadata.audit.createTimestamp - Date filter must be provided as epoch time or yyyy-MM-dd\\&#39;T\\&#39;HH:mm:ss.SSSZZZZ * metadata.audit.modifyTimestamp - Date filter must be provided as epoch time or yyyy-MM-dd\\&#39;T\\&#39;HH:mm:ss.SSSZZZZ  Documentation link to help with multiple values for query: https://github.com/jirutka/rsql-parser
func (r ApiListDefinitionsV1alpha1AccessControlListRequest) Query(query string) ApiListDefinitionsV1alpha1AccessControlListRequest {
	r.query = &query
	return r
}

// Query string for restricting the response fields from the definitions.v1alpha1.AccessControlList resource. Multiple values can be specified separated by comma. Supported values: group, apiVersion, kind, name, title, metadata, attributes, tags, spec, {extension}, languages, languages-{code}. Unknown values will be ignored.
func (r ApiListDefinitionsV1alpha1AccessControlListRequest) Fields(fields string) ApiListDefinitionsV1alpha1AccessControlListRequest {
	r.fields = &fields
	return r
}

func (r ApiListDefinitionsV1alpha1AccessControlListRequest) Execute() ([]DefinitionsV1alpha1AccessControlList, *http.Response, error) {
	return r.ApiService.ListDefinitionsV1alpha1AccessControlListExecute(r)
}

/*
ListDefinitionsV1alpha1AccessControlList Retrieves AccessControlList for version v1alpha1 from group definitions

Retrieves AccessControlList for version v1alpha1 from group definitions

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiListDefinitionsV1alpha1AccessControlListRequest
*/
func (a *DefinitionsAPIService) ListDefinitionsV1alpha1AccessControlList(ctx context.Context) ApiListDefinitionsV1alpha1AccessControlListRequest {
	return ApiListDefinitionsV1alpha1AccessControlListRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return []DefinitionsV1alpha1AccessControlList
func (a *DefinitionsAPIService) ListDefinitionsV1alpha1AccessControlListExecute(r ApiListDefinitionsV1alpha1AccessControlListRequest) ([]DefinitionsV1alpha1AccessControlList, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []DefinitionsV1alpha1AccessControlList
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DefinitionsAPIService.ListDefinitionsV1alpha1AccessControlList")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/definitions/v1alpha1/accesscontrollists"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "")
	} else {
		var defaultValue int32 = 1
		r.page = &defaultValue
	}
	if r.pageSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pageSize", r.pageSize, "")
	} else {
		var defaultValue int32 = 20
		r.pageSize = &defaultValue
	}
	if r.sort != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort", r.sort, "")
	}
	if r.embed != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "embed", r.embed, "")
	}
	if r.expand != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "expand", r.expand, "")
	}
	if r.resourceLanguageCode != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "resource.language.code", r.resourceLanguageCode, "")
	}
	if r.query != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "query", r.query, "")
	}
	if r.fields != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fields", r.fields, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xAxwayTenantId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Axway-Tenant-Id", r.xAxwayTenantId, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ApiV1ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v ApiV1ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v ApiV1ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ApiV1ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ApiV1ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
[...]
